<h3>
    {{ leyenda }} - {{ progreso }}
</h3>
<div class="input-group">
    <span class="input-group-btn">
  <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button">
    <i class="mdi mdi-minus"></i>
  </button>
</span>

    <input #txtProgress name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges( $event )" class="form-control text-center" type="number" min="1" max="100">

    <span class="input-group-btn">
  <button (click)="cambiarValor(+5)" class="btn btn-primary" type="button">
    <i class="mdi mdi-plus"></i>
  </button>
</span>
</div>